* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: darkslategray;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* width: 80px;
  height: 80px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out; */
}
.menu-btn-burger {
  width: 50px;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.menu-btn-burger::before,
.menu-btn-burger::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.menu-btn-burger::before {
  transform: translatey(-16px);
  -webkit-transform: translatey(-16px);
  -moz-transform: translatey(-16px);
  -ms-transform: translatey(-16px);
  -o-transform: translatey(-16px);
}
.menu-btn-burger::after {
  transform: translatey(16px);
  -webkit-transform: translatey(16px);
  -moz-transform: translatey(16px);
  -ms-transform: translatey(16px);
  -o-transform: translatey(16px);
}
.menu-btn.open .menu-btn-burger {
  transform: translatex(-50px);
  -webkit-transform: translatex(-50px);
  -moz-transform: translatex(-50px);
  -ms-transform: translatex(-50px);
  -o-transform: translatex(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn-burger::before {
  transform: rotate(45deg) translate(35px, -35px);
  -webkit-transform: rotate(45deg) translate(35px, -35px);
  -moz-transform: rotate(45deg) translate(35px, -35px);
  -ms-transform: rotate(45deg) translate(35px, -35px);
  -o-transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn-burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
  -webkit-transform: rotate(-45deg) translate(35px, 35px);
  -moz-transform: rotate(-45deg) translate(35px, 35px);
  -ms-transform: rotate(-45deg) translate(35px, 35px);
  -o-transform: rotate(-45deg) translate(35px, 35px);
}
